extends ../../layout/default.pug
include ../../mixins/alert.pug
block main 
    h1(class="mb-4") #{pageTitle}
    h2(class="mb-4") #{product.name}
    .row
        .col-md-6
            img(src=product.thumbnail, class="img-fluid")
        .col-md-6
            .form-group
                label(for="name") Name
                input#name.form-control(type="text", name="name", value=product.title, readonly)
            .form-group
                label(for="price") Price
                div(class="mb-4") #{product.price} $ 
            if(product.discountPercentage)
                label(for="discountPercentage") Discount:
                div(class="mb-4") #{product.discountPercentage}% 
            .form-group
                label(for="description") Description
                div(class="mb-4" name="description", rows="5", readonly) !{product.description}
            if(product.status)
                span Trạng thái: 
                    if (product.status === 'active')
                        a(class ="badge bg-success") Còn hàng
                    else
                        a(class ="badge bg-danger") Hết hàng 
            <br>  
            <br>  

            a(class="btn btn-warning", href=`/admin/products/edit/${product._id}`) Chỉnh sửa 
    script(src="/admin/js/product.js") 