extends ../../layout/default.pug
include ../../mixins/alert.pug
block main 
    +alert-error(3000)
    +alert-success(3000)
    h1(class="mb-4") #{pageTitle}
    form(
        action =`${prefixAdmin}/products-category/edit/${record.id}?_method=PATCH`
        id="form-edit-product"
        method="POST"
        enctype="multipart/form-data"
    )
        div(class ="form-group")
            label(for="title") Tiêu đề
            input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                    value = record.title
            )
        div(class ="form-group")
            label(for="description") Mô tả
            textarea(
                    class="form-control"
                    id="desc"
                    name="description"
                    rows="5"
            ) !{record.description}
        div(class ="form-group" upload-image)
            label(for="thumbnail") Hình ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                upload-image-input
            )
            img(
                src=record.thumbnail
                upload-image-preview
                class="image-preview"
            )
        //- display button x to delete image
        div(class="form-group" delete-image)
            button(
                type="button"
                class="btn btn-danger btn-sm"
                upload-image-delete
            ) Xóa hình ảnh   
        div(class ="form-group")
            label(for="position")   Vị trí hiển thị
            input(
                type="text"
                class="form-control"
                id="position"
                name="position"
                placeholder ="Tự động tăng"
                min="1"
                value = record.position
            )
        div(class ="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value= "active"
                checked= (record.status == 'active'? true: false)
            )
            label(for="statusActive" class="form-check-label") Còn hàng
        div(class ="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusDeactive"
                name="status"
                value="deactive"
                checked= (record.status == 'deactive'? true: false)
            )
            label(for="statusDeactive" class="form-check-label") Hết hàng
        div(class ="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Lưu
    script(src="/admin/js/product.js") 