extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
block main
           
    h1(class="mb-4") Thêm mới tài khoản 
    +alert-success(2000) 
    +alert-error(2000)
    if(role.permissions.includes('account_create'))
        form(
            action=`${prefixAdmin}/accounts/create?_method=POST`
            method ="POST"
            enctype="multipart/form-data"
        )    
            div(class="form-group")
                label(for="name") Họ và tên
                input(
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"
                    placeholder="Nhập họ và tên"
                    required
                )
            div(class="form-group")
                label(for="email") Email
                input(
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Nhập email"
                    required
                )
            div(class="form-group")
                label(for="password") Mật khẩu
                input(
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Nhập mật khẩu"
                    required
                )
            div(class="form-group")
                label(for="phone") Số điện thoại
                input(
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    placeholder="Nhập số điện thoại"
                    required
                )
            div(class ="form-group" upload-image)
                label(for="avatar") Hình ảnh
                input(
                    type="file"
                    class="form-control-file"
                    id="avatar"
                    name="avatar"
                    accept="image/*"
                    upload-image-input
                )
                img(
                    src=""
                    upload-image-preview
                    class="image-preview"
                )
            div(class="form-group")
                label(for="role") Nhóm quyền
                select(
                    class="form-control"
                    id="role_id"
                    name="role_id"
                    required
                )
                    option(value="" disable) ---Chọn nhóm quyền---
                    each role in records
                        option(value=role.id) #{role.title}
            div(class="form-group form-check form-check-inline")
                input(
                    type= "radio"
                    class= "form-check-input"
                    id= "statusActive"
                    value="active"
                    name="status"
                    checked
                )
                label(for="statusActive" class="form-check-label") Hoạt động
            div(class="form-group form-check form-check-inline")
                input(
                    type= "radio"
                    class= "form-check-input"
                    id= "statusInactive"
                    value="deactive"
                    name="status"
                    checked
                )
                label(for="statusInactive" class="form-check-label") Ngừng Hoạt động
            div(class ="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Thêm mới


    script(src="/admin/js/product.js")
