extends ../../layout/default.pug
include ../../mixins/box-head.pug
block main 
    .product-detail
        .container.my-3 
            .row 
                .col-6 
                    .inner-thumb 
                        img(src= product.thumbnail , alt= product.title)
                .col-6
                    h1(class ="inner-title") #{product.title}

                    if(product.newCategory)
                        div(class="inner-category") 
                            span Danh mục: 
                            a(href=`/products/${product.newCategory.slug}`) #{product.newCategory.title}

                    if(product.newPrice)
                        span Giá hiên tại:
                        div(class="inner-price-new") #{product.newPrice} $
                    
                    if(product.price)
                        span Giá cũ:
                        div(class="inner-price-old") #{product.price} $
                    
                    if(product.discount)
                        div(class="inner-percent") Giảm giá: #{product.discount} %
                    if(product.stock)
                        div(class="inner-stock") Còn #{product.stock} sản phẩm

                        form(
                            action = `/cart/add/${product._id}`
                            method = "POST"
                        )            
                            input(
                                class= "form-control"
                                type= "number"
                                value ="1"
                                min="1"
                                max= product.stock
                                name= "quantity"
                            )
                            button(
                                class= "btn btn-success btn-block mt-3"
                                type= "submit"
                            ) Thêm vào giỏ hàng
        hr
        
        .container.my-5 
            .row 
                .col-12 
                    +box-head("Mô tả chi tiết")
                    .inner-desc !{product.description}