extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/selectTree.pug
block main 
    h1(class="mb-4") Chỉnh sửa nhóm quyền
    +alert-success(2000)
    +alert-error(2000)
    if(role.permissions.includes('role_edit'))
        if(record)
            form(
                action =`${prefixAdmin}/roles/edit/${record.id}?_method=PATCH`
                method="POST"
            )
                div(class ="form-group")
                    label(for="title") Tiêu đề
                    input(
                            type="text"
                            class="form-control"
                            id="title"
                            name="title"
                            required
                            value = record.title

                    )
                div(class ="form-group")
                    label(for="description") Mô tả
                    textarea(
                            class="form-control tinymce-textarea"
                            id="desc"
                            name="description"
                            rows="5"

                    ) !{record.description}
                div(class ="form-group")
                    button(
                        type="submit"
                        class="btn btn-primary"
                    ) Cập nhật
    script(src="/admin/js/product.js") 