extends ../../layout/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
block main
    +alert-success(2000)            
    if(role.permissions.includes('role_view'))
        h1 Quản lý nhom quyền
        .card.mb-3
            .card-header  Danh sách 
                .card-body 
                    .row 
                        .col-8 
                            //- +form-change-multi(`${prefixAdmin}/roles/create?_method=PATCH`)
                        .col-4
                            if(role.permissions.includes('role_create'))
                                a(
                                    href=`${prefixAdmin}/roles/create`
                                    class ="btn btn-outline-success"
                                ) + Thêm mới
                    table(
                        class="table table-hover table-sm"
                        checkbox-multi
                    )
                        thead 
                            tr 
                                th STT
                                th Nhóm quyền
                                th Mô tả
                                th Hành động                        
                        tbody
                            if(records.length >0)
                                each item,index in records
                                    tr 
                                        td #{index+1}
                                        td #{item.title}
                                        td !{item.description}
                                        td 
                                            a(
                                                href=`${prefixAdmin}/roles/detail/${item.id}`
                                                    class ="btn btn-secondary btn-sm"     
                                            ) Chi tiết
                                            if (role.permissions.includes('role_edit'))
                                                a(
                                                    href=`${prefixAdmin}/roles/edit/${item.id}`
                                                    class ="btn btn-warning btn-sm"     
                                                ) Sửa
                                            if (role.permissions.includes('role_delete'))
                                                button(
                                                    class='btn btn-danger btn-sm ml-1'
                                                ) Xóa 
                            else    
                                tr 
                                    td(colspan="4" class ="text-center") Không có dữ liệu
        script(src="/admin/js/product.js")
    else
        h1 Bạn không có quyền truy cập