mixin alert-success(time)
    - if (messages.success)
        .message.success
            div(
                class="alert alert-success"
                show-alert
                data-time=time 
            ) #{messages.success} <span close-alert>X</span>

mixin alert-error(time)
    - if (messages.error)
        .message.error
            div(
                class="alert alert-danger"
                show-alert
                data-time=time 
            ) #{messages.error} <span close-alert> X </span>